.dropdown {
  &--container {
    width: 100%;
    position: relative;
  }

  &--button {
    width: 100%;
    padding: var(--bar-padding);
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: bold;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: var(--border-radius);
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &--chevron {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    border: 1px solid;
    border-radius: 100px;

    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-bottom: 1px solid;
      border-right: 1px solid;
      transform: rotate(45deg);
      left: 0.9rem;
      top: 0.65rem;
    }
  }

  &--items {
    border: 1px solid var(--color-black);
    position: absolute;
    top: 6rem;
    left: 5%;
    width: 90%;
    background-color: var(--color-white);
    height: 40vh;
    overflow-y: scroll;
    cursor: pointer;
  }

  &--item {
    color: var(--color-black);
    padding: 1rem 1.5rem;
    font-size: 1.75rem;
    border-bottom: 0.1rem dotted var(--color-black);

    &:hover {
      color: var(--color-primary);
    }
  }
}
