.dropdown {
  &--container {
    width: 100%;
  }

  &--button {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: bold;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 1.5rem;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--chevron {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    border: 1px solid;
    border-radius: 100px;

    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-bottom: 1px solid;
      border-right: 1px solid;
      transform: rotate(45deg);
      left: 0.9rem;
      top: 0.65rem;
    }
  }
}

.gg-chevron-down-o {
}
.gg-chevron-down-o::after {
}
