.nav {
  z-index: 9999;
  position: sticky;
  top: 0;
  left: 0;
  min-width: 100rem;
  // width: 100%;
  height: 6rem;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2.4rem;

  background-color: var(--color-nav);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--color-white);

  &--logo {
    color: var(--color-white);
    text-decoration: none;
  }
  &--logo-image {
    display: block;
    height: 2.9rem;
  }

  .nav--header {
    font-size: 2.4rem;
  }

  .nav--header__link {
    text-decoration: none;
    color: var(--color-white);
  }

  .nav--about-us {
    white-space: nowrap;
  }
  .nav--about-us__link {
    text-decoration: none;
    color: var(--color-white);
  }

  @include mobile {
    width: 100%;
    min-width: initial;
    font-size: 1.6rem;
    padding: 0 2rem;

    .nav--logo {
      display: none;
    }

    .nav--header {
      font-size: 1.8rem;
      line-height: 1.4;
    }
  }
}
