.nav {
  z-index: 9999;
  position: sticky;
  top: 0;
  left: 0;
  min-width: 100rem;
  // width: 100%;
  height: 5rem;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2.25rem;

  background-color: var(--color-nav);
  color: var(--color-white);

  &--logo {
    color: var(--color-white);
    text-decoration: none;
  }

  &--header {
    // white-space: nowrap;
    // overflow: scroll;
    font-size: 3.5rem;

    &__link {
      text-decoration: none;
      color: currentColor;
    }
  }

  &--about-us {
    white-space: nowrap;

    &__link {
      text-decoration: none;
      color: currentColor;
    }
  }
}
